* {
  padding: 0;
  margin: 0;
}

button {
  padding: 10px 15px;
  font-size: 18px;
}

button:hover {
  cursor:pointer;
}

input[type="text"] {
  padding: 12px 20px;
  font-size: 20px;
  border: 2px solid grey;
  border-radius: 5px;
}

#content {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  padding-bottom: 50px;
}

#content > h1 {
  font-size: 80px;
}

#startbtn {
  padding: 0.2em 0.8em;
  font-size: 25px;
}

#banner {
  height: 30vh;
  width: 100vw;
  display: table;
  text-align: center;
}

#title {
  display: table-cell;
  vertical-align: middle;
}

#title > h1 {
  font-size: 50px;
}

.input {
  margin: 10px;
}

#resultlist {
  list-style-type: none;
}

#resultlist > li {
  padding: 10px;
  height: 150px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.searchresult {
  text-align: left;
  font-size: 18px;
  display: inline-block;
  width: 100%;
}

.info {
  width: 20%;
  float: left;
}

.resultcontent {
  width: 75%;
  float: right;
}

.resultlink {
  font-size: 20px;
}

#suggestionbtn {
  font-size: 25px;
}

#backbtn {
  font-size: 25px;
}

#highlight {
  background-color: yellow;
  font-weight: bold;
}

.VP { background-color: rgb(210, 255, 178)}
.MP { background-color: rgb(235, 255, 178)}
.NE { background-color: rgb(255, 242, 178)}
.MN { background-color: rgb(255, 230, 178)}
.VN { background-color: rgb(255, 208, 178)}
